.inpt{
    border-radius: 4px 20px 0 15px;
    height: 50px;
    width: 250px;
}

.btn-inscrir{
    border-radius: 4px 20px 0 25px;
    height: 50px;
    width: 250px;
    color: white;
    background-color: #ff0000;

}
.footer-title{
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
}
.contact-details .text-red {
    color: #ff0000;
}


