.content{
    margin-left:20%!important;
    margin-right:20%!important;
    background-color: white;
    border-radius: 10px;
}
.colorbtn{
    color: white;
    background-color: #ff0000;
}
section{
    background-color: #f8f8f8;
}
.actualite{
    width: 80%;
}
.imgdim{
    max-width: 30%;
}

.bordurebouton{
    border-radius: 10px;
    border: 1px solid #3241cc;
}

.bordurecontent{
    margin-left:20%!important;
    margin-right:20%!important;
    background-color: white;
    border: 2px solid #e3ddd3;

}
.personnel
{
    text-align: left;
    padding-top:5%!important;
}
.title{
    font-size: 30px;
}
.soustitle{
    font-size: 16px;
    
}
.bordure{
    border: 1px solid rgb(227, 221, 211);
    margin: 3%;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.bord{
    border: 1px solid rgb(227, 221, 211);
margin: 3px;
}
.bord:hover{
    border: 2px solid rgba(24, 165, 214, 0.5);

}
.bord:active{
    border: 2px solid rgba(24, 165, 214, 0.5);

}
button{
    width: 100% !important;
    height: 90%;
}
.gold{
    width: 40%;
}
