
.product-box { }

.orange_area{color: orange;}
// .btn_more_projects:hover { color: white!important;}
.btn-project a{
    color: white;
}
.btn-project a:hover{
    i{
        color: #ff0000 !important;
    }
}