.content{
    margin-left:24%!important;
    margin-right:24%!important;
    background-color: white;
    border-radius: 10px;
}
section{
    background-color: #f8f8f8;
}
.image{
width: 30%;
}
.zone_text
{
    margin:5% 15% 5% 15%;
}


.bordurecontent{
    margin-left:10%!important;
    margin-right:10%!important;
    background-color: white;
    border: 2px solid #e3ddd3;

}
button{
    width: 100%;
}
.imag{
    width: 5%;
}
.imgs{
    text-align: center;
   
}
.shutter__switch {
    background: #fafafa;
    border: 1px solid transparent;
    border-width: 1px 0;
    cursor: pointer;
    padding: 2rem;
    // padding-right: 7rem;
    position: relative;
}
.shutter__switch:hover {
    background: #fff;
    border-color: #00a6f0;
    color: #00a6f0;
}
.actualite{
    width: 30%;
}
// .shutter {
//     border: 1px solid;
//     border-color: #fafafa transparent;
//     margin: 0;
//     margin-top: -1px;
//     padding: 0;
// }

span{
    font-weight: bold;
}