<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    Publicité Solidaire({{ listPubSolidaire.length }})
                    <button type="button" class="pull-right btn btn-primary" (click)="pubSolidaireCreation()"><i
                        class=" fa fa-plus"></i> <span> Ajouter </span></button>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Titre</th>
								<th>Description</th>
                                <th>Montant Projet</th>
								<th>Total Vues</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
						
						
						 <!-- Ligne alternative pr recherche en cours -->
                            <tr *ngIf="isLoading">
                                <td colspan="7" class="text-center alert alert-warning">Chargement des données en cours...</td>
                            </tr>

                            <!-- Ligne alternative pr recherche finie et aucun resultat trouve -->
                            <tr *ngIf="!isLoading && listPubSolidaire.length === 0">
                                <td colspan="7" class="text-center alert alert-info"> Aucune publicité solidaire trouvée</td>
                            </tr>
						
                            <tr *ngFor="let item of listPubSolidaire">
                                <td>{{item.id}}</td>
                                <td>{{item.titre}}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.montant_projet}}</td>
                                <td>{{item.total_vues}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary mr-1" (click)="goToedit(item)">
                                        <i class="fa fa-edit"></i>
                                      </button>
                                    <button type="button" class="btn btn-danger mr-1" (click)="pubSolidaireDelete(item)">
                                        <i class="fa fa-trash"></i>
                                      </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <pagination class="justify-content-center" [itemsPerPage]="itemsPerPage"   [nextText]="'Suivant'" [previousText]="'Prec.'" [totalItems]="listPubSolidaire.length" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
                  
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>