

.btn_display_details{color: white;}
.product-info {padding: 2rem; color: black;}
.cart-info{
    cursor: pointer!important;
}

.product-info h3 { color: #007bff; }
.product-info .count_projets { color: #777777; font-size: 1.3rem; }