<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    Campagnes({{listProjetUser.length}})
                </div>
                <div class="card-body">
				
					<div class="row">
					<div class="col-md-10">
					<div class="card">
			
				  <div class="container text-center">
				    <form class="row g-2">
                      <div class="col-auto">&nbsp;&nbsp;
						<input type="" class="form-control" id="" placeholder="Nom">&nbsp;&nbsp;
					  </div>
					  <div class="col-auto">
						<label for="" class="">Status</label>
						<input type="" class="form-control" id="" placeholder="">
					  </div>
					  
					</form>
					  
					
				    <form class="row g-2">
                      <div class="col-auto">
						<label for="" class="">Date Début</label>
					  <input type="text" class="form-control" placeholder>
					  </div>
					  <div class="col-auto">
						<label for="" class="">Date Fin</label>
					    <input type="text" class="form-control" placeholder>
					  </div>
					  
					</form>
				   
					</div>

				
				</div>
			</div>
		
				<div class="col-md-2">
				<button type="search" class="btn btn-primary text-center">Rechercher</button>
				</div>
				</div>
               
			  
				
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Projet</th>
                                <th>Description</th>
                                <th>Image</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <!-- Ligne alternative pr recherche en cours -->
                            <tr *ngIf="isLoading">
                                <td colspan="5" class="text-center alert alert-warning">Chargement des données en cours...</td>
                            </tr>

                            <!-- Ligne alternative pr recherche finie et aucun resultat trouve -->
                            <tr *ngIf="!isLoading && listProjetUser.length === 0">
                                <td colspan="5" class="text-center alert alert-info"> Aucune campagne trouvée</td>
                            </tr>



                            <tr *ngFor="let item of listProjetUser">
                                <td>{{item.id}}</td>
                                <td>{{item.titre}}</td>
                                <td>{{item.description}}</td>
                                <td>
                                    <img src="{{item.photo_mini}}" alt="image" style="max-width: 5%;" />
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary mr-1" (click)="goToedit(item)">
                                        <i class="fa fa-edit"></i>
                                      </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
								
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>