.content{
    margin-left:24%!important;
    margin-right:24%!important;
    background-color: white;
    border-radius: 10px;
}
section{
    background-color: #f8f8f8;
}
.paie{
    padding: 3%;
}
.actualite{
    width: 30%;
}
.colorbtn{
    color: white;
    background-color: #ff0000;
}
.bordure{
    border: 1px solid rgb(227, 221, 211);
    margin: 3%;
}
button{
    width: 100%;
}
.imag{
    width: 5%;
}

.bordurebouton{
    border-radius: 10px;
    border: 1px solid #3241cc;
}