.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #0533FB !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.btn-add {
    color: #0533FB !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

.header_text {
    color: #fff;
}
.b1{background-color:#40bad5; color:white;}
.b2{background-color:#fcbf1e; color:white;}


.finance {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color:#40bad5!important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	color:white!important;
}